<!-- ============================= Include this for static files load ================================= -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Md Shahariya Hossain from https://github.com/ShahariyaHossain/"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index, follow" />

    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.png' %}"
    />

    <!-- =============================================================================================== -->
    <!-- ======================= Other meta information, stylesheet links, etc. ======================== -->
    <!-- =============================================================================================== -->

    {% block extra_meta %}
    <!-- For additional meta tags -->
    {% endblock %} {% block extra_head %}
    <!-- For additional child-specific styles or scripts -->
    {% endblock %}
    <!-- ============================ Iclude child template's title ================================== -->
    <title>{% block title %} My Website {% endblock %}</title>

    <!-- =============================================================================================== -->
    <!-- =================== Iclude main css, information, stylesheet links, etc. ====================== -->
    <!-- =============================================================================================== -->
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <!-- =================================================================================================== -->
  <!-- ====================================== Start of Body ============================================ -->
  <!-- =================================================================================================== -->
  <body>
    <main>
      {% block content %}
      <!-- This will be overridden in child templates -->
      {% endblock %}
    </main>
    {% block footer %}
    <!-- Empty block to exclude the logo carousel -->
    {% endblock %}
    <!-- =============================================================================================== -->
    <!-- ================================ End of Main Bloock Content ================================== -->
    <!-- =============================================================================================== -->

    <!-- =============================================================================================== -->
    <!-- =================== Iclude main js, information, stylesheet links, etc. ======================= -->
    <!-- =============================================================================================== -->
    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- =============================================================================================== -->
    <!-- ====================== For additional child-specific styles or scripts ======================= -->
    <!-- =============================================================================================== -->
    {% block extra_scripts %}
    <!-- For child-specific JavaScript -->
    {% endblock %}
    <!-- =============================================================================================== -->
    <!-- ====================== For additional child-specific styles or scripts ======================= -->
    <!-- =============================================================================================== -->
  </body>
  <!-- =================================================================================================== -->
  <!-- ====================================== End of the html file ====================================== -->
  <!-- =================================================================================================== -->
</html>
